build/
.cache
.clang-format
compile_commands.json
autom4te.cache/
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
Makefile.in
missing
configure~
Makefile
.deps
config.status
config.log
src/*.o
src/lightwrite
config.guess~
config.sub~
install-sh~
